.avatar-wrapper {
  width: 400px;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.avatar-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40% !important;
  height: 100%;
}

.avatar-img {
  border-radius: 50%;
  height: 9vmin;
  margin-left: -20px;
  filter: drop-shadow(0 -2mm 6mm rgba(191, 214, 17, 0.3));
}

.data-img-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  border-radius: 50%;
  font-size: 0.85em;
}

.data-name {
  background-color: rgb(191, 214, 17);
  color: white;
  width: 95%;
  border-radius: 5px;
  font-weight: 600 !important;
}

.data-role {
  padding: 0;
  margin: 5px 0 15px 0;
  height: 50px;
  font-size: .7em;
  display: flex;
  align-items: center;
  color: rgb(191, 214, 17);
}

.data-extra {
  padding: 0;
  margin: 5px 0 15px 0;
  font-size: .7em;
}

@media screen and (max-width: 1200px) {
  .avatar-wrapper {
    width: 34vw;
    height: 30vh;
  }

  .avatar-img {
    height: 12vmin;
  }

  .data-role {
    height: 60px;
  }
}

@media screen and (max-width: 600px) {
  .avatar-wrapper {
    width: 60vw;
    height: 25vh;
  }

  .avatar-img {
    height: 17vmin;
  }

  .data-img-container {
    width: 80%;
    height: 100%;
  }

  .data-extra {
    font-size: .9em;
    margin: 2px 0;
  }

  .data-role {
    height: 40px;
    font-size: 1.2em;
  }
}